<!-- <p>registrar-ventas works!</p> -->
<div class="_espacio"></div>
<div class="generalDiseña">
<form action="" class="formFactura">
    <div class="facturaDiseña">
    <mat-card >
        <mat-card-title>
            <h1 style="font-size: larger;">FACTURA </h1>
            <mat-divider></mat-divider>
            <h2>#{{numFac()}}</h2>
        </mat-card-title>
        <mat-card-content>
            <div class="tablaInfoFac">
                
                <mat-divider></mat-divider>
                <table>
                    
                    <tr>
                        <td>
                            <label>Fecha realizada:</label>
                        </td>
                        
                        <td>
                            {{obtenerFecha()}}
                            <!-- <input  name="fechaInput" id="fechaInput" type="text" [value]="obtenerFecha()" style="text-align: left;" readonly> -->
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <label>Empleado:</label>
                        </td>
                        <td>
                            {{nomEmpleado()}}
                            <!-- <input  name="fechaInput" id="fechaInput" type="text" [value]="" style="text-align: left;" readonly> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Cliente:</label>
                        </td>
                        <td>
                            {{mejorarDataCliente()}}
                            <!-- <input  name="fechaInput" id="fechaInput" type="text" [value]="obtenerFecha()" style="text-align: left;" readonly> -->
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="example-button-container"  *ngIf="initFactura.IDFactura==0" >
      <button (click)="crearFactura()" matTooltip="Crear factura" class="btnFacturar" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="example-button-container" (click)="clickActuFact()" *ngIf="initFactura.IDFactura!=0">
      <button matTooltip="Facturar" class="btnFacturar" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>bookmark</mat-icon>
      </button>
    </div>
    
    <div class="example-button-container3" *ngIf="initCliente.Nombre.length>0 && initFactura.IDFactura!=0">
      <button (click)="seleccionarProducto()" matTooltip="Ingresar Productos" class="btnFacturar" mat-fab color="accent" aria-label="Example icon button with a bookmark icon" >
        <mat-icon>shopping_bag</mat-icon>
      </button>
    </div>

    <div class="example-button-container2" *ngIf="initCliente.Nombre.length==0">
      <button (click)="ventanaCliente()" matTooltip="Ingresar Cliente" class="btnFacturar" mat-fab color="accent" aria-label="Example icon button with a bookmark icon" >
        <mat-icon>person_3</mat-icon>
      </button>
    </div>
    <div class="example-button-container4" *ngIf="initFactura.IDFactura!=0">
      <button (click)="cancelar()" matTooltip="Cancelar" class="btnFacturar" mat-fab color="warn" aria-label="Example icon button with a bookmark icon" >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    </div>
    <div class="_espacio"></div>
    <div class="productoDiseño">
        <mat-card >
            <mat-card-title>
                <h1 style="font-size: larger;">PRODUCTOS</h1>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Producto">
                      <th mat-header-cell *matHeaderCellDef style="width: 250px;font-size: 18px;"> <b>Producto</b> </th>
                      <td mat-cell *matCellDef="let element"> {{element.Producto}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Cantidad">
                      <th mat-header-cell *matHeaderCellDef style="width: 250px;font-size: 18px;"> <b>Cantidad</b> </th>
                      <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Precio" >
                        <th mat-header-cell *matHeaderCellDef style="width: 160px;font-size: 18px;"> <b>Precio</b> </th>
                        <td mat-cell *matCellDef="let element" > 
                            <div class="money"> 
                                <b>
                            <span >$</span>
                            <!-- <div class="espacio"></div> -->
                            <label> {{element.Precio}}</label>
                           </b></div>
                        </td>
                      </ng-container>                    <!-- Weight Column -->

                                          <!-- Weight Column -->
                    <ng-container matColumnDef="IDProducto" >
                        <th mat-header-cell *matHeaderCellDef style="width: 160px;font-size: 18px;"> <b>Cod Producto</b> </th>
                        <td mat-cell *matCellDef="let element" style="width: 30px;"> 
                            
                            <!-- <div class="espacio"></div> -->
                            <label> {{element.IDProducto}}</label>
                           
                        </td>
                      </ng-container>
                    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Importe">
                    <th mat-header-cell *matHeaderCellDef style="width: 160px;font-size: 18px;"> <b>Importe</b> </th>
                    <td mat-cell *matCellDef="let element" >
                        <div class="money">
                        <b>
                            <span >$</span>
                            <label >
                                {{element.Precio*element.Cantidad}}
                            </label> 
                        </b>
                    </div>
                    </td>
                    </ng-container>
                    <ng-container matColumnDef="Acciones" style="width: 40%;">
                        <th mat-header-cell *matHeaderCellDef style="width: 160px;font-size: 18px;"> <b>Acción</b> </th>
                        <td mat-cell *matCellDef="let element" style="width: 160px;"> 
                          <button matTooltip="Editar" mat-button color="accent" (click)="editarProducto(element)"><mat-icon>edit</mat-icon></button>
                          /
                          <button matTooltip="Eliminar" mat-button color="warn" (click)="eliminarProducto(element)"><mat-icon>delete</mat-icon></button>
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row 
                    *matRowDef="let row; columns: displayedColumns;"
                    ></tr>
                  </table>
            </mat-card-title>
            <mat-card-content>
                <table class="table table-borderless factura">
                    <thead>
                    <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Subtotal <span  style="color: #85bb65;">$</span></th>
                          <th><label >{{calcularSubTotal()}}</label></th>
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Iva <span style="color: #85bb65;">$</span></th>
                          <th>{{valorIvar()}}</th>
                          <th></th>
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Total <span style="color: #85bb65;">$</span></th>
                          <th>{{calcularTotal()}}</th>
                        </tr>
                    </tfoot>
                  </table>
            </mat-card-content>
        </mat-card>
    </div>
</form>
</div>