<!-- <app-sidenav></app-sidenav> -->
<!-- <router-outlet></router-outlet> -->
<p></p>
<div  class="myCard">
    <mat-card>
    
        <mat-card-header>    
            <mat-card-title >Bienvenido {{usuario.Nombre}}</mat-card-title>
            <mat-card-subtitle> 
                <mat-card>
                    No. de cedula : {{usuario.Cedula}}<br>
                    Rol de trabajo: {{usuario.Rol}}<br>
                    
                </mat-card>
            </mat-card-subtitle>
            <!-- <mat-card-subtitle> # de cédula: {{usuario.Cedula}}</mat-card-subtitle> -->
            </mat-card-header>
            
            <mat-card-content>
            </mat-card-content>
        </mat-card>
</div>